<!DOCTYPE html>
<html>
  <head>
    <%= raw @app.script(request) %>
    <link rel='stylesheet'
      href='<%= @app.stylesheet(request) %>'>
  </head>
  <body>
    {{#step 1}}
      {{#with note}}
        <h1>Posting: {{content}}</h1>
        <input value={{content}}>

        <button onClick={{create}}>Save</button>
      {{/with}}
    {{/step}}

    {{#step 2}}
      <h1>All notes</h1>
      {{#each notes}}
        <p>{{content}}</p>
      {{/each}}

      <button onClick={{previous}}>Back</button>
    {{/step}}
  </body>
</html>
